.auth-right-bg {
  background-color: #323EF7;
  color: white;
  font-size: 38px;
  font-weight: 600;
  width: 50%;
}

.auth-left-bg {
  width: 50%;
}

.auth-left-container {
  width: 20vw;
}

.auth-text {
  margin: 24px 0;
  font-size: 14px;
}

.auth-right-headline {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 4.75vw 0 0 3vw;
  line-height: 36px;
}

.auth-right-pic {
  width: 43vw;
  position: absolute;
  bottom: 0;
  right: 12vw;
}

.auth-btn {
  width: 100%;
  margin-top: 24px;
  color: white;
  background-color: #323EF7;
  border: none;
  border-radius: 5px;
  padding: 8px 0;
}

.auth-btn:hover {
  background-color: #003DA5;
}