.small-button {
  padding: 5px 16px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.medium-button {
  padding: 8px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
}

.large-button {
  padding: 20px 32px;
  border: none;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.large-button + .large-button {
  margin-top: 8px;
}
