.background-purple-light {
  background: rgba(228, 224, 252, 0.15);
}

.background-purple-dark {
  background: rgba(50, 62, 247, 0.35);
}

.purple-solid {
  background: rgb(50, 62, 247);
}

.background-orange-light {
  background: rgba(254, 80, 0, 0.23);
}

.orange-solid {
  background: rgb(254, 80, 0);
}

.background-gray-light {
  background-color: #f5f5f5;
}
