.create-pet {
  overflow-y: scroll;
  padding-top: 136px;
}

.create-pet-field {
  width: 360px;
}

.create-pet-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 26px;
  text-align: center;
}

.create-pet-button-section {
  margin: 40px 0 100px 0;
}

.create-pet-button-section > * + * {
  margin-top: 16px;
}

.create-pet-cancel-button {
  padding: 7px;
  border: 1px solid #d9d9d9;
}

.create-pet-create-button {
  color: white;
}
