.pet-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
}

.pet-profile-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
}

.pet-profile-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
}

.pet-profile-description > *:not(:last-child) {
  margin-right: 10px;
}
