.pet-section-header {
  margin-bottom: 20px;
}

.pet-section-header h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 38px;
}

.pet-section-header span {
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
}

.pet-section-add-pet-button {
  border-radius: 16px;
}

.plus-icon {
  margin-right: 4px;
}
