.pet-section-behavior-item-pic {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #323ef7;
  margin-right: 14px;
}

.pet-section-behavior-item-title {
  font-weight: 500;
}

.right-icon {
  margin-left: auto;
}
