.cr-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.cr-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.cr-pic {
  width: 6vw;
  height: 6vw;
}

.cr-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 4px;
}

.cr-input {
  margin-bottom: 6px;
}

.cr-col-orange {
  background-color: rgba(254, 80, 0, 0.04);
  border: 1px solid #fe5000;
  border-radius: 5px;
}

.cr-col-transparent {
  border: 1px solid transparent;
  border-radius: 5px;
}

.record-form-button-section {
  margin: 40px 0 100px 0;
}

.record-form-button-section > * + * {
  margin-top: 16px;
}

.record-form-cancel-button {
  padding: 7px;
  border: 1px solid #d9d9d9;
}

.record-form-submit-button {
  color: white;
}
