.right-panel {
  height: 100vh;
  min-height: 720px;
}

.right-panel-image-section {
  height: 50%;
}

#right-panel-illustration {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-top: auto;
}
